.achievements-section {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .achievements-section ul {
    padding-left: 20px;
    list-style-type: none;
  }
  
  .achievements-section li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .achievements-section a {
    display: flex;
    align-items: center;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .achievements-section a:hover {
    color: #0056b3;
  }
  
  .pdf-icon {
    margin-right: 5px;
  }
  