* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
  color: #333;
  line-height: 1.6;
  overflow-x: hidden;
}

/* Header styles */
.header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 50px 20px;
  position: relative;
  overflow: hidden;
}

.image-container {
  position: relative;
}

.header-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px auto;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.header-image:hover {
  transform: scale(1.1);
}

.profile-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: none;
  transition: display 0.3s ease;
}

.image-container:hover .profile-video,
.image-container:active .profile-video {
  display: block;
}

.image-container:hover .header-image,
.image-container:active .header-image {
  display: none;
}

.header-content h1 {
  margin: 10px 0;
  font-size: 2.5em;
  animation: fadeIn 1.5s ease-out;
}

.header-content p {
  margin: 5px 0;
  animation: fadeIn 1.5s ease-out;
}

.header-content a {
  color: #ffd700;
  text-decoration: none;
  transition: color 0.3s ease;
  animation: fadeIn 1.5s ease-out;
}

.header-content a:hover {
  color: #fff;
}


section {
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


h2 {
  color: #007bff;
  margin-bottom: 20px;
  position: relative;
}

h2::after {
  content: '';
  width: 50px;
  height: 3px;
  background: #ffd700;
  display: block;
  margin: 10px 0;
}

p {
  margin-bottom: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffd700;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

li:hover {
  transform: translateX(10px);
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
  font-size: 1em;
}


i {
  margin-right: 10px;
  font-size: 1.2em;
  color: #007bff;
  transition: color 0.3s ease;
}

i:hover {
  color: #ffd700;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  animation: fadeIn 1s ease-out;
}

section {
  animation: fadeIn 1s ease-out;
}
